body {
    margin: 0;
}

.gallery {
    background: #222;
    display: flex;
    font-family: Avenir, Helvetica, sans-serif;
    flex-flow: row wrap;
}

.gallery img {
    max-width: 500px;
}

.gallery figure {
    position: relative;
    font-size: 0;
    overflow: hidden;
    margin: 0;
}

.gallery figure figcaption {
    background: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    width: 100%;
    color: #fff;
    padding: .3rem;
    position: absolute;
    margin: 0;
    transition: .2s;
    top: -7rem;
}

.gallery figure:hover figcaption {
    transform: translateY(7rem);
}

/* flcikr form */
#Main {
    width: 800px;
    margin-top: 0px;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 800;
}

#main, #Main {
    z-index: 1;
    position: relative;
}

body.new-footer #main, body.new-footer #Main {
    margin-bottom: 50px;
}

body {
    background-color: #fefefe;
    color: #000;
}

body, input, textarea, select {
    font-family: Arial, Helvetica, sans-serif;
}

body.new-header {
    padding-top: 50px;
}

html.styleguide body {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 150px;
}

html.styleguide {
    height: 100%;
}

h3 {
    font-size: 18px;
    color: #ff0084;
    font-weight: normal;
    margin-bottom: 10px;
}

table {
    border: 0;
}

td {
    font-size: 12px;
    color: #000;
}

h4 {
    font-size: 13px;
    margin-bottom: 10px;
    margin-left: 1rem;
}

p {
    font-size: 12px;
}

img {
    border: none;
}

form {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

a:link {
    color: #0063dc;
    text-decoration: none;
}

input, textarea, select {
    font-size: 12px;
    color: #222222;
}

#Explorer tr {
    vertical-align: top;
}

#Explorer td {
    border-bottom: 1px solid #E5E5E5;
    padding: 10px;
}

th {
    border-bottom: 1px solid #eee;
    font-size: 11px;
    font-weight: normal;
    color: #666666;
    text-align: left;
}

#Explorer th {
    text-align: left;
    padding-left: 5px;
    padding-bottom: 5px;
}

/* custom form */
#id_user_id_or_url {
    width: 27em;
}

.pagination {
    margin: 1rem;
}

figcaption a,
figcaption a:link {
    color: hsla(0,0%,100%,.7);
    font-size: 1rem;
    transition: color .15s linear;
}

figcaption a:hover {
    color: white;
}
