
<div id="Main">

  <h3><b>Curiosity Flickr</b></h3>

  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr valign="top">
      <td width="60%">
        <h4>Arguments</h4>

        <form method="post" id="people-form">
          {{ csrf_input }}
          <table id="Explorer" cellspacing="0" width="100%">
            <tbody>
            {{ form.as_table() }}
            </tbody>
          </table>

          <br>
          <!-- <input type="submit" name="submit_top_photos" value="Top Photos"> -->
          <input type="submit" name="submit_popular" value="Popular">
          <input type="submit" name="submit_favs" value="Favourites">
          <input type="submit" name="submit_group_photos" value="Groups Photos">
          <input type="submit" name="submit_follow" value="Follow">
        </form>


      </td>

      <td><img src="https://s.yimg.com/pw/images/spaceball.gif" width="50"
               height="1" style="border: 0" alt="spacer"></td>

      <td>

        <h4>Useful Values</h4>

        <p>

          <b>Recent public photo IDs:</b><br>
          30374487022 - tohokusci20150529031700<br>
          30374487662 - OCTOBER 18 TREJO TULUM VIP_0000_<br>
          30454775046 - 20161016NTC5_Cadet2-59.jpg<br>
          <br>

          <b>Popular public group IDs:</b><br>
          1577604@N20 - ｡˚ ◢Group wi†h Ҽxperience◣º°<br>
          16978849@N00 - Black and White<br>
          34427469792@N01 - FlickrCentral<br>
          <br>

          <b>User IDs:</b><br>
          38954353@N06<br>


        </p></td>
    </tr>
    </tbody>
  </table>


</div>
