{% if photos %}
<div class="gallery">
  {% for photo in photos %}

  <figure>
    <a href="{{ utils.photo_page_url(photo.owner, photo.id) }}">
      <img src="{{ utils.photo_url(photo) }}" alt="{{ photo.title }}">
    </a>
    <figcaption class="row">
      <div class="col">
        <div class="row">
          <span>{{ photo.title }}</span>
        </div>
        {% if photo.ownername %}
        <div class="row">
          <a href="{{ utils.photostream_url(photo.owner) }}">by {{ photo.ownername }}</a>
        </div>
        {% endif %}
      </div>

      <div class="align-self-end">
        {% if 'views' in photo %}
        <span>{{ utils.cool_number(photo.views) }}</span>
        {% endif %}
      </div>
    </figcaption>

  </figure>
  {% endfor %}
</div>
{% else %}
<div class="container">
  <h3>No photos to show.</h3>
</div>
{% endif %}
