{% if photos %}
<div class="gallery">
  {% for photo in photos %}

  <figure>
    <a href="{{ utils.photo_page_url(photo.owner, photo.id) }}">
      <img src="{{ utils.photo_url(photo) }}" alt="{{ photo.title }}">
    </a>
    <figcaption class="row">
      <div class="col">
        <div class="row">
          <span>{{ photo.title }}</span>
        </div>
        <div class="row">
          <a href="{{ utils.photostream_url(photo.owner) }}">by {{ photo.ownername }}</a>
        </div>
      </div>

      <div class="align-self-end">
        <form method="post" action="{{ url('photo-fav', kwargs={'photoid': photo.id}) }}">
          {{ csrf_input }}
          <button class="btn btn-link">
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </button>
        </form>

        <span>{{ utils.cool_number(photo.views) }}</span>
      </div>
    </figcaption>

  </figure>
  {% endfor %}
</div>
{% endif %}
