{% extends 'base.html'  %}

{% block content %}

  {% if not photos %}
  <div class="container">
    <h3>No photos to show.</h3>
  </div>
  {% endif %}


  {% if photos %}
  <div class="gallery">
    {% for photo in photos %}
    {% set photo_dict = fav.info['photo'] %}

    <figure>
      <a href="{{ utils.photo_page_url(photo_dict.owner.nsid, photo_dict.id) }}">
        <img src="{{ utils.photo_url(photo_dict) }}" alt="{{ photo_dict.title._content }}">
      </a>
      <figcaption class="row">
        <div class="col">
          <div class="row">
            <span>{{ photo_dict.title._content }}</span>
          </div>
          <div class="row">
            <a href="{{ utils.photostream_url(photo_dict.owner.nsid) }}">by {{ photo_dict.owner.username }}</a>
          </div>
        </div>

        <div class="align-self-end">
          <form method="post" action="{{ url('photo-fav', kwargs={'photoid': photo_dict.id}) }}">
            {{ csrf_input }}
            <button class="btn btn-link">
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </button>
          </form>

          <span>{{ utils.cool_number(photo_dict.views) }}</span>
        </div>
      </figcaption>

    </figure>
    {% endfor %}
  </div>
  {% endif %}

{% endblock %}
