{% extends 'base.html'  %}

{% block content %}

	<div class="container mb-4">
		<form method='post'>
			{{ csrf_input }}
			<table>
			{{ form.as_table() }}
			</table>
			<br>
			<input type="submit" name="" value="Call Method">
		</form>
	</div>

  {% if response.photos %}
		<div class="mb-4">
      {% set photos = response['photos']['photo'] %}
      {% include 'flickr/_photos_gallery.html' %}
		</div>
  {% endif %}

	<div class="container">
		<pre>{{ response|pprint if response else '' }}</pre>
	</div>

{% endblock %}
