{% extends 'base.html'  %}

{% block content %}
  {% if form %}
    {% include 'flickr/_people_form.html' %}
  {% endif %}

  <script>
    var context = {
      ajax_group_url: '{{ group_url }}',
      groups: {{ groups|safe }},
      userid: '{{ userid|safe }}',
      csrf_token: '{{ csrf_token }}'
    }
  </script>
  <script src="{{ static('js/group-ajax.js') }}"></script>

  <div id="groups"></div>
  {% include 'flickr/_pagination.html' %}

{#  <pre>{{ groups|pprint }}</pre>#}

{% endblock %}
