<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">


    <link rel="stylesheet" href="{{ static('css/font-awesome.css') }}">

    <link rel="stylesheet" href="{{ static('css/style.css') }}">

    <title>Curiosity Flickr</title>
  </head>
  <body>

    <nav class="navbar navbar-light bg-faded mb-4">
      <form action='/people/' method="post" class="form-inline">
        {{ csrf_input }}
        <input class="form-control col-6" id="navbar-input" type="text" name="user_id_or_url" placeholder="User id or URL" required autofocus>

        <button class="btn btn-outline-success btn-sm ml-2" type="submit" name="submit_popular">Popular</button>
        <button class="btn btn-outline-success btn-sm ml-2" type="submit" name="submit_favs">Favourites</button>
        <button class="btn btn-outline-success btn-sm ml-2" type="submit" name="submit_group_photos">Groups Photos</button>
        <button class="btn btn-outline-success btn-sm ml-2" type="submit" name="submit_follow">Follow</button>
      </form>
    </nav>

    {% block content %}{% endblock %}

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    {% block scripts %}{% endblock %}
  </body>
</html>
